<div class="nav-container">
    <div class="button-container">

        <div class="left-container" [style.display]="title_search">
            <span class="title" routerLink="home">New Trends</span>
        </div>

        <div class="left-container-mobile">
            <button mat-flat-button [style.display]="title_search=='none' ? '' : 'none'"
                (click)="goBack()">back</button>
            <form #searchForm="ngForm" (ngSubmit)="fillter(searchInput)">
                <input class="search_input_mobile" [placeholder]="placeHolder" #searchInput
                    [hidden]="title_search=='none' ? false : true" type="text">
            </form>
        </div>

        <div class="center-container">
            <input class="search_input" [placeholder]="placeHolder" type="text" #searchInput2>

            <button mat-flat-button (click)="fillter(searchInput2)">search</button>
        </div>

        <div class="right-container-mobile" [style.display]="title_search">
            <button class="button" (click)="title_search='none'">
                <svg class="icon" stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                    aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z">
                    </path>
                </svg>
            </button>
        </div>


        <div class="right-container">
            @if (isadd) {
            <button class="button" id="orders" routerLink="addProduct" mat-icon-button>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-diamond-plus-icon lucide-diamond-plus">
                    <path d="M12 8v8" />
                    <path
                        d="M2.7 10.3a2.41 2.41 0 0 0 0 3.41l7.59 7.59a2.41 2.41 0 0 0 3.41 0l7.59-7.59a2.41 2.41 0 0 0 0-3.41L13.7 2.71a2.41 2.41 0 0 0-3.41 0z" />
                    <path d="M8 12h8" />
                </svg>
            </button>
            }

            <button class="button" id="orders" (click)="navigateToOrders()" mat-icon-button>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-package-icon lucide-package">
                    <path
                        d="M11 21.73a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73z" />
                    <path d="M12 22V12" />
                    <polyline points="3.29 7 12 12 20.71 7" />
                    <path d="m7.5 4.27 9 5.15" />
                </svg>
            </button>

            <button [matBadge]="storage.getQuantity() | async" class="button" routerLink="cart" mat-icon-button>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-shopping-bag-icon lucide-shopping-bag">
                    <path d="M6 2 3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4Z" />
                    <path d="M3 6h18" />
                    <path d="M16 10a4 4 0 0 1-8 0" />
                </svg>
            </button>

            <button class="button" (click)="toggle()" mat-icon-button>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-venetian-mask-icon lucide-venetian-mask">
                    <path d="M18 11c-1.5 0-2.5.5-3 2" />
                    <path
                        d="M4 6a2 2 0 0 0-2 2v4a5 5 0 0 0 5 5 8 8 0 0 1 5 2 8 8 0 0 1 5-2 5 5 0 0 0 5-5V8a2 2 0 0 0-2-2h-3a8 8 0 0 0-5 2 8 8 0 0 0-5-2z" />
                    <path d="M6 11c1.5 0 2.5.5 3 2" />
                </svg>
            </button>
        </div>

    </div>
</div>