.button-container {
    display: flex;
    background-color: rgb(0 0 0);
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0rem;
    z-index: 5;
}

.button {
    outline: 0 !important;
    border: 0 !important;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    font-size: 10px;
}

.icon {
    font-size: 25px;
}

@media (min-width:700px) {
    .button-container {
        display: none;
    }

    .container{
        display: none;
    }
}